.Scene {
    &_info {
        position: fixed;
        left: 0px;
        top: 0px;
        width: fit-content;
        padding: 8px;
        height: fit-content;
        background: #0008;
        z-index: 1;
    }
}